h2 {
    text-align: center;
    color: rgb(255, 255, 255);
}
h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}

h3 {
    color: #28a745;
}

header img {
    border: 2px solid rgb(255, 255, 255);
    width: 53%;
    box-shadow: 0 0 40px rgb(0 0 0 / 15%);
}
header {
    background-image: url("fotocv.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.tags span {
    display: inline-block;

    color: #28a745;
    border: 1px solid #28a745;

    padding: 5px 10px;
    margin: 4px 2px;

    border-radius: 20px;
    font-size: 0.5rem;
}

.headerNavigation {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    backdrop-filter: blur(5px);
}

.headerMenu {
    list-style: none;
    display: block;
    width: 100%;
    padding: 10px;
    margin: 0;
    text-align: center;
}

.headerMenu__item {
    display: inline-block;
    margin: 5px;
}

.headerMenu__itemAnchor,
.listAnchor {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.headerMenu__itemAnchor:hover {
    text-decoration: none;
    color: #c7c7c7;
}

.subheaderText {
    margin-bottom: 20px;
    font-size: 32px;
}

.icon {
    margin-right: 10px;
}

.listAnchor {
    display: block;
    width: 300px ;
}

.containerPadding {
    padding: 30px;
}

.marginBottom {
    margin-bottom: 45px;
}
.listContainer {
    margin: 0 auto;
    max-width: 260px;

